---
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>Administrador del blog</title>
	</head>
	<body>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<script is:inline>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on('init', (user) => {
					if (!user && /invite_token=/.test(window.location.hash)) {
						window.netlifyIdentity.open('signup');
					}
				});
				window.netlifyIdentity.on('login', () => {
					window.netlifyIdentity.close();
				});
				window.netlifyIdentity.init();
			}
		</script>
		<script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
	</body>
</html>
